body{
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

.header{
    height: 10%;
    display: flex;
    align-items: center;
}

.container,
.card-block{
    display: flex;
    height: 70%;
}

.category,
.card{
    display: inline-block;
    width: 230px;
    height: 230px;
    margin-top: 60px;
    margin-left: 60px;
    justify-content: center;
    background: linear-gradient(40deg,#00bf82,#0099ae);
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.16), 0 5px 10px 0 rgba(0,0,0,.12);
    transition: 0.3s;
}

.category:visited,
.category:active,
.category:hover{
    color: #fff;
}

.category:hover,
.card:hover{
    cursor: pointer;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.16), 0 20px 20px 0 rgba(0,0,0,.12);
    transition: 0.3s;
}


.category img,
.card img{
    margin-top: 20px;
    margin-left: 45px;
    width: 130px;
    height: 87px;
    border-radius: 40%;
    border: 2px solid black;
}

.card img{
    margin-top: 3px;
    margin-left: 0;
    width: 230px;
    height: 139px;
    border-radius: 0;
    border: none;
}

.name-of-category,
.name-of-card{
    display: block;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}

.name-of-card{
    padding-top: 0;
}

.categories{
    height: 100%;
}

.wrapper{
    width: 70%;
    margin: auto;
}

.switcher{
    display: inline-block;
    float: right;
    margin-top: 3vh;
    margin-right: 2vw;
    width: 150px;
    height: 50px;
    color: #fff;
    font-size: 25px;
    background: linear-gradient(40deg,#00bf82,#0099ae);
    box-shadow: inset 0 -1px #fff, inset 0 1px 1px rgba(0,0,0,.05);
    border-radius:10px;
    border: 2px solid #eee;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.mode-text{
    margin-left: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.mode-text-play{
    
    transition: 0.5s;
}

.mode-text::selection ,
.nav-li a::selection,
.mode-text::selection,
.mode-text-play::selection{
    background: transparent;
 }

.toggle-switch{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    margin-top: 7px;
    margin-right: 7px;
    height:35px;
    width: 35px;
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.toggle-switch::after{
    position: absolute;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    top:50%;
    left: 50%;
    margin-top: -7.5px;
    margin-left: -7.5px;
    background-color: #e2e2e2;;
    border-radius: 50%;
}

.burger-button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 2vw;
    margin-top: 3vh;
}

.burger-button span,
.burger-button span::after,
.burger-button span::before{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -16.5px;
    width: 33px;
    height: 4px;
    border-radius: 3px;
    background-color: #cdcdcd;
    transition: 0.4s;
}

.active-burger-button span{
    transition: 0.4s;
    width: 0px;
    margin-left: 0;
}

.burger-button span::after,
.burger-button span::before{
    content: '';
}

.burger-button span::before{
    transform: translateY(-8px);
}

.burger-button span::after{
    transform: translateY(8px);
}

.active-burger-button span::after{
    transform: rotate(45deg);
    transition: 0.4s;
}

.active-burger-button span::before{
    transform: rotate(-45deg);
    transition: 0.4s;
}

.burger-menu{
    position: fixed;
    margin-left: -30vw;
    width: 30vw;
    height: 100vh;
    background: linear-gradient(40deg,#00bf82,#0099ae); 
    transition: 0.8s;
}

.nav{
    margin-top: 20vh;
    padding-left: 20%;
    padding-right: 20%;
}

.nav li{
    font-size: 25px;
    margin-top: 10px;
    list-style-type: none;
}

.nav li a{
    color: white;
    text-decoration: none;
}

.nav li a:hover{
    text-decoration: underline;
    color: yellowgreen;
}

.active-burger-menu{
    margin-left: 0;
    transition: 0.8s;
}

.nav-li .active-link-menu{
    color: red;
    text-decoration: underline;
}

.active-switch-text{
    margin-left: -93px;
    transition: 0.5s;
}

.play-mode-color{
    background: linear-gradient(40deg,#ffd86f,#fc6262);
}

.hidden{
    display: none;
}



